<div class="top-header">
  <div class="cutted-wrapper">
    <div class="left">
      <div class="nav">
        <ul class="button-group">
          <li>{{link-to 'Home' 'application' classNames="button"}}</li>
          <li>{{link-to 'About' 'about' classNames="button"}}</li>
          {{!-- <li>{{link-to 'Archive' 'archive' classNames="button"}}</li> --}}
          <li>{{link-to 'Posts' 'posts.index' classNames="button"}}</li>
          {{!-- <li>{{link-to 'Map' 'map' classNames="button"}}</li> --}}
          <li>{{link-to 'Admin' 'admin' classNames="button"}}</li>
        </ul>
      </div>
    </div>
    <div class="hexagon hexagon2">
      <div class="hexagon-in1">
        <div class="hexagon-in2">
          <span class="logo"><span class="logo-text">M</span><span class="logo-separator">/</span><span class="logo-text">R</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
